# RPC is the configuration for the RPC server.
RPC:
  # Port to listen on for RPC connections (default: 11101).
  Port: 11101

  # MaxRequestBytes is the maximum client request size in bytes the server will accept (default: 4194304, 4MiB).
  MaxRequestBytes: 4194304

  # MaxConnectionAge is a duration for the maximum amount of time a connection may exist
  # before it will be closed by sending a GoAway.
  MaxConnectionAge: "0s"

  # MaxConnectionAgeGrace is a duration for the amount of time after receiving a GoAway
  # for pending RPCs to complete before forcibly closing connections.
  MaxConnectionAgeGrace: "0s"

  # CertFile is the file containing the TLS certificate.
  CertFile: ""

  # KeyFile is the file containing the TLS private key.
  KeyFile: ""

# Profiling is the configuration for the profiling server.
Profiling:
  # Port is the port to listen on for serving metrics `/metrics` and pprof (default: 11102).
  Port: 11102

  # EnablePprof is whether to enable the pprof `/debug/pprof` endpoint.
  EnablePprof: false

# Housekeeping is the configuration for the housekeeping.
Housekeeping:
  # Interval is the time between housekeeping runs (default: 1m).
  Interval: 1m

  # CandidatesLimitPerProject is the maximum number of candidates to be returned per project (default: 100).
  CandidatesLimitPerProject: 100

  # ProjectFetchSize is the maximum number of projects to be returned to deactivate candidates. (default: 100).
  ProjectFetchSize: 100

# Backend is the configuration for the backend of Yorkie.
Backend:
  # UseDefaultProject is whether to use the default project (default: true).
  # If public key is not provided from the client, the default project will be
  # used. If we are using server as single-tenant mode, this should be set to true.
  UseDefaultProject: true
  
  # ClientDeactivateThreshold is deactivate threshold of clients in specific project for housekeeping.
  ClientDeactivateThreshold: "24h"

  # SnapshotThreshold is the threshold that determines if changes should be
  # sent with snapshot when the number of changes is greater than this value.
  SnapshotThreshold: 500

  # SnapshotInterval is the number of changes to create a snapshot.
  SnapshotInterval: 1000

  # SnapshotWithPurgingChanges is whether to delete previous changes when the snapshot is created.
  SnapshotWithPurgingChanges: false

  # AuthWebhookURL is the URL to send authorization requests to.
  AuthWebhookURL: ""

  # AuthWebhookMethods is the list of methods to use for authorization.
  AuthWebhookMethods: [ ]

  # AuthWebhookMaxRetries is the max count that retries the authorization webhook.
  AuthWebhookMaxRetries: 10

  # AuthWebhookMaxWaitInterval is the max interval that waits before retrying the authorization webhook.
  AuthWebhookMaxWaitInterval: "3s"

  # AuthWebhookCacheAuthTTL is the TTL value to set when caching the authorized result.
  AuthWebhookCacheAuthTTL: "10s"

  # AuthWebhookCacheUnauthTTL is the TTL value to set when caching the unauthorized result.
  AuthWebhookCacheUnauthTTL: "10s"

  # ProjectInfoCacheSize is the size of the project info cache.
  ProjectInfoCacheSize: 256

  # ProjectInfoCacheTTL is the TTL value to set when caching the project info.
  ProjectInfoCacheTTL: "10m"

  # Hostname is the hostname of the server. If not provided, the hostname will be
  # determined automatically by the OS (Optional, default: os.Hostname()).
  Hostname: ""

# Mongo is the MongoDB configuration (Optional).
Mongo:
  # ConnectionTimeout is the timeout for connecting to MongoDB.
  ConnectionTimeout: "5s"

  # ConnectionURI is the URI to connect to MongoDB.
  ConnectionURI: "mongodb://localhost:27017"

  # YorkieDatabase is the name of the Yorkie database.
  YorkieDatabase: "yorkie-meta"

  # PingTimeout is the timeout for pinging MongoDB.
  PingTimeout: "5s"
