# RPC is the configuration for the RPC server.
RPC:
  # Port to listen on for RPC connections (default: 11101).
  Port: 11101

  # MaxRequestBytes is the maximum client request size in bytes the server will accept (default: 4194304, 4MiB).
  MaxRequestBytes: 4194304

  # CertFile is the file containing the TLS certificate.
  CertFile: ""

  # KeyFile is the file containing the TLS private key.
  KeyFile: ""

# Profiling is the configuration for the profiling server.
Profiling:
  # Port is the port to listen on for serving metrics `/metrics` and pprof (default: 11102).
  Port: 11102

  # EnablePprof is whether to enable the pprof `/debug/pprof` endpoint.
  EnablePprof: false

# Housekeeping is the configuration for the housekeeping.
Housekeeping:
  # Interval is the time between housekeeping runs (default: 1m).
  Interval: 1m

  # DeactivateThreshold is the time after which clients are considered deactivate (default: 7d).
  DeactivateThreshold: 7d

  # CandidatesLimit is the maximum number of candidates to be returned (default: 100).
  CandidatesLimit: 100

# Backend is the configuration for the backend of Yorkie.
Backend:
  # SnapshotThreshold is the threshold that determines if changes should be
  # sent with snapshot when the number of changes is greater than this value.
  SnapshotThreshold: 500

  # SnapshotInterval is the number of changes to create a snapshot.
  SnapshotInterval: 1000

  # AuthWebhookURL is the URL to send authorization requests to.
  AuthWebhookURL: ""

  # AuthWebhookMethods is the list of methods to use for authorization.
  AuthWebhookMethods: [ ]

  # AuthWebhookMaxRetries is the max count that retries the authorization webhook.
  AuthWebhookMaxRetries: 10

  # AuthWebhookMaxWaitInterval is the max interval that waits before retrying the authorization webhook.
  AuthWebhookMaxWaitInterval: "3s"

  # AuthWebhookCacheAuthTTL is the TTL value to set when caching the authorized result.
  AuthWebhookCacheAuthTTL: "10s"

  # AuthWebhookCacheUnauthTTL is the TTL value to set when caching the unauthorized result.
  AuthWebhookCacheUnauthTTL: "10s"

# Mongo is the MongoDB configuration (Optional).
Mongo:
  # ConnectionTimeout is the timeout for connecting to MongoDB.
  ConnectionTimeout: "5s"

  # ConnectionURI is the URI to connect to MongoDB.
  ConnectionURI: "mongodb://localhost:27017"

  # YorkieDatabase is the name of the Yorkie database.
  YorkieDatabase: "yorkie-meta"

  # PingTimeout is the timeout for pinging MongoDB.
  PingTimeout: "5s"

# ETCD is the configuration for the etcd client (Optional).
ETCD:
  # Endpoints is the list of endpoints to connect to for etcd.
  Endpoints: [ "localhost:2379" ]

  # DialTimeout is the timeout for connecting to etcd.
  DialTimeout: "5s"

  # Username is the username to use for etcd.
  Username: ""

  # Password is the password to use for etcd.
  Password: ""

  # LockLeaseTime is the lease time for locks.
  LockLeaseTime: "30s"
