name: docker-publish
on:
  release:
    types: [created]
jobs:
  build:
    name: build
    runs-on: ubuntu-latest
    steps:

      - name: Set up Go 1.x
        uses: actions/setup-go@v2
        with:
          go-version: ^1.16

      - name: Check out code
        uses: actions/checkout@v2

      - name: Get tools dependencies
        run: make tools

      - name: Build
        run: make build

      - name: Login to Docker Hub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build Image
        run: make docker

      - name: Push Image
        run: docker push yorkieteam/yorkie --all-tags
